<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="matthew-mcguigan-33239286"><a class="LI-simple-link" href='https://uk.linkedin.com/in/matthew-mcguigan-33239286?trk=profile-badge'>Matthew McGuigan</a></div>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
       <a href="#!" style="padding-left:10px;"class="brand-logo"><i class="material-icons">code</i>James Hamann</a>
        <ul class="right hide-on-med-and-down">

        </ul>
      </div>
    </nav>
  </div>
