<!DOCTYPE html>
<html>
<body>

<div class="center">
  <p>See my TV interview for the solar eclipse here:</p>
  <iframe width="300" height="168" src="https://www.youtube.com/embed/VR57efH0Kfs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<b>Patent:</b>
<p><i>Latent print extraction apparatus and method.</i> WO2023007132A1 WIPO (PCT). 
  <a href="https://patents.google.com/patent/WO2023007132A1">Patent link</a>
</p>

<b>Publications:</b>

<p><u>Fingerprint Research:</u></p>
<p><i>Contactless automated lifting of latent fingerprints from difficult curved surfaces.</i> 
  <a href="https://www.sciencedirect.com/science/article/pii/S0923596522001370">
    McGuigan, M. and Christmas, J. (2022). <i>Contactless automated lifting of latent fingerprints from difficult curved surfaces</i>, Elsevier Signal Processing: Image Communication, Volume 109, November 2022, 116858.
  </a>
</p>

<p><i>Remote Extraction of Latent Fingerprints (RELF).</i>
  <a href="https://ieeexplore.ieee.org/document/9207376">
    McGuigan, M. and Christmas, J. (2020). <i>Remote Extraction of Latent Fingerprints (RELF)</i>, IEEE World Congress on Computational Intelligence, July 2020.
  </a>
</p>

<p><u>Image Processing and Machine Learning:</u></p>
<p><i>Automating RTI: Automatic light direction detection and correcting non-uniform lighting for more accurate surface normals.</i>
  <a href="https://www.sciencedirect.com/science/article/pii/S1077314218302686?dgcid=rss_sd_all">
    McGuigan, M. and Christmas, J. (2020). <i>Automating RTI: Automatic light direction detection and correcting non-uniform lighting for more accurate surface normals</i>, Elsevier Computer Vision and Image Understanding, Volume 192, March 2020, 102880.
  </a>
</p>

<p><u>Technical Report:</u></p>
<p>Benning M., Bonthrone L., Carr T., Dyer J., Malip A., McGuigan M., Puiu A., Tian Y., Wendland A., Yang L. (2019). <i>Identifying Potential Hardening Techniques for Image Classifiers - Cryptanalysis in Machine Learning</i>, Defence Science and Technology Laboratory (DSTL), United Kingdom (UK), pp. 1-31.</p>

</body>
</html>
