<!DOCTYPE html>
<html>
<body>



<p>See my TV interview for the solar eclipse here: </p>
<iframe width="300" height="168" src="https://www.youtube.com/embed/VR57efH0Kfs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>My publications:</p>
McGuigan, M. and Christmas, J. (2019). Automating RTI: Automatic light direction detection and correcting non uniform lighting for more accurate surface normals', Elsevier Computer Vision and Image Understanding. Article accepted for publication 26 Nov 2019.

McGuigan, M. and Christmas, J. (2019). Remote Extraction of Latent Fingerprints (RELF) algorithm. Submitted to IEEE Transactions on Information Forensics and Security.

Benning M., Bonthrone L., Carr T., Dyer J., Malip A., McGuigan M., Puiu A., Tian Y., Wendland A., Yang L. (2019). Identifying Potential Hardening Techniques for Image Classifiers - Cryptanalysis in Machine Learning, Defence Science and Technology Laboratory (DSTL), United Kingdom (UK), pp. 1-31, (2019).  
</body>
</html>
